.brand .brand-logo img {
       max-width: 150px;
}
.mobile-logo img {
    max-width: 90px;
}
.table .thead-little-dark th {
    color: #ffffff;
    background-color: #6caab7;
    border-color: #6caab7;
}
.error{
    color: #ff0505;
}
#pageloader
{
    background: rgba(64, 62, 62, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.display_block {
    display: block !important;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}