.brand .brand-logo img {
       max-width: 150px;
}
.mobile-logo img {
    max-width: 90px;
}
.table .thead-little-dark th {
    color: #ffffff;
    background-color: #6caab7;
    border-color: #6caab7;
}
.error{
    color: #ff0505;
}
#pageloader
{
    background: rgba(64, 62, 62, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.display_block {
    display: block !important;
}

#pageloader img
{
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
}